<div class="author">
<h1 class="author_heading"> Hi, I am Tanishka</h1>
<p class="author_body">Web developer and content writer</p>
</div>
<img src="/img/domore.jpg"  alt="do more image" class="domore" width="981" height="528">

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="a">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
    </ul>

    <a href="a" class="pagination">&lt; View Older Posts</a>
</section>